@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	color: #333;
	background-color: #f5f5f5;
	font-size: 1em;
	font-family: "Comic Sans MS", sanf-serif;
	line-height: 135%;
}

a {
	color: #f48b8b;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover {
	color: #8b9ff5;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {color: #8ce4a6;}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

hr {
	display: block;
	border: 0;
	height: 1px;
	border-top: 1px solid #ccc;
	padding: 0;
}



/* Selection block */

::selection {background: #f58b8b; color: #fff};
::-moz-selection {background: #f58b8b; color: #fff};

header, footer {
	width: 100%;
	background-color: white;
	float: left;
}

header {
	background-color: white;
	border-bottom: 2px solid silver;
	padding: 1%;
}

pre {
	font-family: Comic Sans MS, sanf-serif;
}

#about_us img {
	width: 500px;
}

#menuHrefs a {
	padding: 5px;
	border-radius: 5px;
	margin-right: 5px;
	color: #626262;
}

#menuHrefs a:hover {
	background-color: #ececec;
}

.clear {
	clear: both;
}

#logo {
	font-size: 2em;
	font-family: Comic Sans MS, sanf-serif;
	color: silver;
}

#firstpage {
	font-size: 1.5em;
	font-family: Comic Sans MS, sanf-serif;
	margin-left: 20px;
}

.information {
	font-size: 1.5em;
	font-family: Comic Sans MS, sanf-serif;
	margin-left: 20px;
	float: right;
}

#backtosite {
	margin-left: 400px;
	padding-top: 50px;
}

#backtosite a {
	background-color: #f58b8b;
	padding: 5px;
	border-radius: 5px;
	margin-right: 5px;
	color: white;
}

#backtosite a:hover {
	background-color: #7feb6d;
}

#ruby {
	color: #C30306;
}

#diamond {
	color: #3B23DA;
}

#emerald {
	color: #02B70E;
}

#amber {
	color: #D89E32;
}

#crystal {
	color: #0488DB;
}

#sapphire {
	color: #0004CE;
}

input[type=text]#field {
	margin-left: 20px;
	border-radius: 5px;
	border: 2px solid silver;
	padding: 5px;
}

input[type=text]#field:focus {
	border: 2px solid #f58b8b;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

/* Стили для форм */

form {
	width: 60%;
	margin-left: 20%;
}

form label {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

form textarea {
	width: 60%;
	float: left;
	clear: both;
	background-color: #fafafa;
	padding: 10px;
	border-radius: 5px;
	font-size: 1.2em;
	border: 2px solid silver;

}

form #send {
	float: left;
	padding: 10px;
	background-color: #f58b8b;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 1.3em;
	color: #fff;
	font-family: Comic Sans MS, sanf-serif;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
	cursor: pointer;
}

form #send:hover {
	background-color: #7feb6d;
}

form #gotoclan {
	float: left;
	padding: 10px;
	background-color: #f58b8b;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 1.3em;
	color: #fff;
	font-family: Comic Sans MS, sanf-serif;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
	cursor: pointer;
}

form #gotoclan:hover {
	background-color: #7feb6d;
}

form #gotournir {
	float: left;
	padding: 10px;
	background-color: #f58b8b;
	border-radius: 10px;
	margin-top: 10px;
	font-size: 1.3em;
	color: #fff;
	font-family: Comic Sans MS, sanf-serif;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
	cursor: pointer;
}

form #gotournir:hover {
	background-color: #7feb6d;
}

form input {
	border-radius: 5px;
	border: 2px solid silver;
	padding: 5px;
	float: left;
	clear: both;
	width: 40%;
	margin-bottom: 10px;
	background-color: #fafafa;
}

form input:focus, form textarea:focus {
	border: 2px solid #f58b8b;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

button {
	text-align: center;
	background-color: #f58b8b;
	border: 2px solid silver;
	border-radius: 10px;
	width: 150px;
	height: 50px;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
	cursor: pointer;
	font-family: Comic Sans MS, sanf-serif;
	font-weight: bold;
	font-size: 1.4em;
	margin-top: 5px;
	margin-right: 500px;
}
}

button:hover {
	background-color: #7feb6d;
}

#about_us {
	width: 100%;
	float: left;
	background-color: #fafafa;
	border-radius: 5px;
	border: 1px solid silver;
	box-sizing: border-box;
	padding: 1%;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

.feedback {
	font-size: 1.5em;
	font-family: Comic Sans MS, sanf-serif;
	margin-left: 20px;
}

#searchbutton {
	margin-left: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

#vk {
	width: 30px;
	float: left;
	margin-right: 5px;
}

#page-wrap:after {
	content: "";
	display: block;
}

#wrapper {
	float: left;
	width: 100%;
	margin-top: 20px;
}

#wrapper #articles {
	float: left;
	width: 80%;
	margin-left: 10%;
}

#wrapper #articles article {
	float: left;
	width: 31.33333%;
	border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fafafa;
	margin-right: 2%;
	min-height: 400px;

}

#wrapper #articles article img {
	width: 100%;
	height: 200px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid silver;
	margin-bottom: 10px;
}

#wrapper #articles article h2 {
	width: 90%
	margin-left: 5%;
	font-weight: normal;
	font-size: 1.7em;
	color: #4a4a4a;
}

#wrapper #articles article p {
	width: 80%
	margin-left: 10%;
	text-indent: 1em;
}

#wrapper #articles article a {
	padding: 10px 5px;
	background-color: #ed7b7b;
	margin-left: 5%;
	border-radius: 5px;
	color: #fff;
	float: left;
	margin-top: 10px;
	line-height: 10px;
}

#wrapper #articles article a:hover {
	background-color: #7feb6d;

}

/* Центральный блок нашего сайта */

#main_soc_block {
	width: 100%;
	padding: 2% 0;
	border-bottom: 2px solid silver;
	border-top: 2px solid silver;
	margin: 20px 0;
	float: left;
	height: 200px;
	background: url('../img/centerpanel.png') repeat-x center 0;
}

#main_soc_block_in {
	text-align: center;
	padding: 1%;
	height: 100px;
	background-color: #fafafa;
	border: 1px solid silver;
	border-radius: 7px;
	width: 500px;
}

#main_soc_block_in a {
	float: left;
	padding: 5px 10px;
	background-color: #ed7b7b;
	color: #fff;
	border-radius: 6px;
	margin-left: 38%;
	margin-top: 15px;
}

#main_soc_block_in a:hover {
	background-color: #7feb6d;
}

#main_soc_block1 {
	width: 100%;
	padding: 2% 0;
	border-bottom: 2px solid silver;
	border-top: 2px solid silver;
	margin: 20px 0;
	float: left;
	height: 200px;
	background: url('../img/centerpanel.png') repeat-x center 0;
}

#main_soc_block_in1 {
	text-align: center;
	padding: 1%;
	height: 100px;
	background-color: #fafafa;
	border: 1px solid silver;
	border-radius: 7px;
	width: 500px;
}

#main_soc_block_in1 a {
	float: left;
	padding: 5px 10px;
	background-color: #ed7b7b;
	color: #fff;
	border-radius: 6px;
	margin-left: 38%;
	margin-top: 15px;
}

#main_soc_block_in1 a:hover {
	background-color: #7feb6d;
}

footer, #page-wrap:after {
	height: 10px;
}

#page-wrap {
	min-height: 94%;
	margin-bottom: -10px;
}

input[type=text].field {
	border-radius: 5px;
	border: 2px solid silver;
	padding: 5px;
	margin-left: 20px;
}

input[type=text].field:focus {
	border: 2px solid #f58b8b;
	transition: all.6s ease;
}

#menu {
	color: #666;
	font-family: Comic Sans MS, sanf-serif;
	font-size: 1.7em;
}

#menu hr {
	width: 500px;
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}


/* Стили для футера */

footer {
	padding: 1%;
	border-top: 2px solid silver;
	margin-top: 10px;
	padding-bottom: 2%;

}
